src/Elementos.dtd

        <!ELEMENT DocumentosXMl (PartidoFutbol)*>
        <!ELEMENT PartidoFutbol (Equipos|Alineaciones|MarcadorFinal|Anotaciones|GolesPor|Fecha)*>
        <!ELEMENT Equipos (#PCDATA)>
        <!ELEMENT Alineaciones (#PCDATA)>
        <!ELEMENT MarcadorFinal (#PCDATA)>
        <!ELEMENT Anotaciones (#PCDATA)>
        <!ELEMENT GolesPor (#PCDATA)>
        <!ELEMENT Fecha (#PCDATA)>